/* HERO SECTION 1 */
.hero-section {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}

.hero-top-title,
.hero-bottom-title {
  width: 90vw;
  font-size: 5rem;
  margin-top: -10px;
  word-wrap: break-word;
}

.hero-text {
  max-width: 1200px;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  margin: 1.5rem 0 3rem 0;
}

.hero-button {
  width: 270px;
  padding: 1rem 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid var(--main-color_black);
  transition: 0.2s ease-in-out;
  background-color: white;
}

.hero-button:hover {
  background-color: var(--main-color_black);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .hero-section {
    padding: 0 5vw;
  }
  .hero-top-title,
  .hero-bottom-title {
    font-size: 2rem;
    margin-top: -2px;
  }
  .hero-text {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .hero-top-title,
  .hero-bottom-title {
    font-size: 3rem;
  }
  .hero-text {
    font-size: 1.25rem;
  }
}

/* GALLERY SECTION 2*/

.gallery-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.gallery-image-1 {
  position: absolute;
  width: 650px;
  height: 400px;
  left: 10vw;
  top: 120vh;
  z-index: -1;
}

.gallery-image-2 {
  position: absolute;
  width: 350px;
  height: 250px;
  right: 15vw;
  top: 120vh;
  z-index: -1;
}

.gallery-image-3 {
  position: absolute;
  width: 450px;
  height: 350px;
  right: 8vw;
  top: 160vh;
  z-index: -1;
}

.gallery-image-1 img,
.gallery-image-2 img,
.gallery-image-3 img {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
}

/* MORE INFORMATION SECTION 3 */
.wp-block-create-block-information-block {
  padding-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-title {
  font-size: 52px;
  margin-bottom: 5rem;
  font-weight: 400;
}

.box-container {
  display: flex;
  height: 100%;
  width: 90%;
  max-width: 90%;
  flex-direction: column;
}

.box-text {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  width: 85%;
  margin-bottom: 2rem;
}

.box-group-1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box-1 {
  width: 600px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-2 {
  border: 1px solid var(--main-color_black);
  width: 600px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-group-2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box-3 {
  border: 1px solid var(--main-color_black);
  width: 600px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-4 {
  width: 600px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-group-3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box-5 {
  width: 600px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-6 {
  border: 1px solid var(--main-color_black);
  width: 642px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  background-color: var(--main-bg-color);
  margin-bottom: 2rem;
}

.box-container .read-more-button {
  padding-top: 2.5rem;
  margin-left: 30%;
}

.read-more-button .wp-block-button__link {
  background-color: white;
  color: var(--main-color_black);
  border: 1px solid var(--main-color_black);
  transition: ease-in-out 0.2s;
  width: 400px;
}

.read-more-button .wp-block-button__link:hover {
  background-color: var(--main-color_black);
  color: white;
  box-shadow: 0px 0px 0px 2px var(--main-color_black);
}
