.drop-down-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5vh 0;
  margin-bottom: 15vh;
}

.drop-down-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
  width: 70vw;
}

.drop-down-bar-1,
.drop-down-bar-2,
.drop-down-bar-3,
.drop-down-bar-4,
.drop-down-bar-5,
.drop-down-bar-6,
.drop-down-bar-7,
.drop-down-bar-8,
.drop-down-bar-9 {
  border: 1px solid var(--main-color_black);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.drop-down-bar-2:hover,
.drop-down-bar-1:hover,
.drop-down-bar-3:hover,
.drop-down-bar-4:hover,
.drop-down-bar-5:hover,
.drop-down-bar-6:hover,
.drop-down-bar-7:hover,
.drop-down-bar-8:hover,
.drop-down-bar-9:hover {
  cursor: pointer;
}

.colored-edge-1 {
  height: 100%;
  width: 25px;
  background-color: #e1c4c4;
}
.colored-edge-2 {
  height: 100%;
  width: 25px;
  background-color: #e2d5ca;
}
.colored-edge-3 {
  height: 100%;
  width: 25px;
  background-color: #c8d2c9;
}
.colored-edge-4 {
  height: 100%;
  width: 25px;
  background-color: #c9bfa3;
}
.colored-edge-5 {
  height: 100%;
  width: 25px;
  background-color: #f8edeb;
}
.colored-edge-6 {
  height: 100%;
  width: 25px;
  background-color: #e1c4c4;
}
.colored-edge-7 {
  height: 100%;
  width: 25px;
  background-color: #e2d5ca;
}
.colored-edge-8 {
  height: 100%;
  width: 25px;
  background-color: #c8d2c9;
}
.colored-edge-9 {
  height: 100%;
  width: 25px;
  background-color: #c9bfa3;
}

.drop-down-section h3 {
  position: absolute;
  left: 20vw;
  font-style: normal;
  font-weight: 500;
  font-size: 32.36px;
  line-height: 100%;
}

.drop-down-button-1,
.drop-down-button-2,
.drop-down-button-3,
.drop-down-button-4,
.drop-down-button-5,
.drop-down-button-6,
.drop-down-button-7,
.drop-down-button-8,
.drop-down-button-9 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-right: 30px;
  border: 0.5px solid var(--main-color_black);
}

.drop-down-content-box-1,
.drop-down-content-box-2,
.drop-down-content-box-3,
.drop-down-content-box-4,
.drop-down-content-box-5,
.drop-down-content-box-6,
.drop-down-content-box-7,
.drop-down-content-box-8,
.drop-down-content-box-9 {
  border: 0.5px solid var(--main-color_black);
  width: 100%;
  height: 416px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.drop-down-content-box-1 p,
.drop-down-content-box-2 p,
.drop-down-content-box-3 p,
.drop-down-content-box-4 p,
.drop-down-content-box-5 p,
.drop-down-content-box-6 p,
.drop-down-content-box-7 p,
.drop-down-content-box-8 p,
.drop-down-content-box-9 p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  padding: 32px;
  letter-spacing: 0.02em;
}

.drop-down-section button:hover {
  cursor: pointer;
  background-color: var(--main-color_black);
}

@media only screen and (max-width: 600px) {
  .drop-down-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5vh 0;
  }

  .drop-down-section h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .drop-down-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    width: 90vw;
  }

  .drop-down-bar-1,
  .drop-down-bar-2,
  .drop-down-bar-3,
  .drop-down-bar-4,
  .drop-down-bar-5,
  .drop-down-bar-6,
  .drop-down-bar-7,
  .drop-down-bar-8,
  .drop-down-bar-9 {
    height: 50px;
  }

  .drop-down-section h3 {
    font-size: 18px;
  }

  .drop-down-section .drop-down-button-1,
  .drop-down-section .drop-down-button-2,
  .drop-down-section .drop-down-button-3,
  .drop-down-section .drop-down-button-4,
  .drop-down-section .drop-down-button-5,
  .drop-down-section .drop-down-button-6,
  .drop-down-section .drop-down-button-7,
  .drop-down-section .drop-down-button-8,
  .drop-down-section .drop-down-button-9,
  .drop-down-section .drop-down-button-10 {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .drop-down-content-box-1,
  .drop-down-content-box-2,
  .drop-down-content-box-3,
  .drop-down-content-box-4,
  .drop-down-content-box-5,
  .drop-down-content-box-6,
  .drop-down-content-box-7,
  .drop-down-content-box-8,
  .drop-down-content-box-9 {
    border: 0.5px solid var(--main-color_black);
    width: 100%;
    height: 416px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .drop-down-content-box-1 p,
  .drop-down-content-box-2 p,
  .drop-down-content-box-3 p,
  .drop-down-content-box-4 p,
  .drop-down-content-box-5 p,
  .drop-down-content-box-6 p,
  .drop-down-content-box-7 p,
  .drop-down-content-box-8 p,
  .drop-down-content-box-9 p {
    font-size: 14px;
    line-height: 160%;
    padding: 20px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .drop-down-wrapper {
    max-width: 90vw;
    width: 90vw;
  }

  .drop-down-section h2 {
    font-size: 2rem;
  }

  .drop-down-section h3 {
    font-size: 1.5rem;
  }

  .pink-box-wrapper {
    flex-direction: column;
  }

  .pink-box-1,
  .pink-box-2,
  .pink-box-3 {
    height: 175px;
    width: 350px;
  }

  .white-section {
    height: 110px;
    width: 350px;
    margin-bottom: 2vh;
  }
}

.learning-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.learning-section h2 {
  margin-left: 50px;
}

.learning-section .read-more-button {
  margin-top: 30px;
  margin-left: 0;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 64px 145px;
  border: 0.5px solid var(--main-color_black);
}

.box-left {
  width: 50%;
  display: flex;
  align-items: center;
}

.box-right {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.learning-section h3 {
  font-size: 84px;
  line-height: 100%;
  font-weight: normal;
  font-style: normal;
  z-index: 5;
  padding-right: 300px;
}

.learning-section img {
  position: absolute;
  left: 20vw;
  z-index: -5;
}

.learning-section h4 {
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 32.36px;
  line-height: 100%;
}

.learning-section p {
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

@media only screen and (max-width: 600px) {
  .learning-section {
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .learning-section h2 {
    margin-left: 0;
    font-size: 1.3rem;
  }

  .learning-section .read-more-button {
    margin-top: 30px;
    margin-left: 0;
  }

  .box {
    width: 355px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid var(--main-color_black);
    border-right: none;
    border-left: none;
    padding: 10px;
  }

  .box-left {
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: none;
  }

  .box-right {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .learning-section h3 {
    font-size: 52px;
    line-height: 100%;
    font-weight: normal;
    font-style: normal;
    z-index: 5;
    margin-bottom: 30px;
    margin-top: 100px;
  }

  .learning-section img {
    position: absolute;
    left: 20vw;
    z-index: -5;
  }

  .learning-section h4 {
    display: none;
  }

  .learning-section p {
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .learning-section {
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .learning-section h2 {
    margin-left: 0;
    font-size: 1.8rem;
  }

  .learning-section .read-more-button {
    margin-top: 30px;
    margin-left: 0;
  }

  .box {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid var(--main-color_black);
    border-right: none;
    border-left: none;
    padding: 10px;
  }

  .box-left {
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: none;
  }

  .box-right {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .learning-section h3 {
    font-size: 52px;
    line-height: 100%;
    font-weight: normal;
    font-style: normal;
    z-index: 5;
    margin-bottom: 30px;
    margin-top: 100px;
  }

  .learning-section img {
    position: absolute;
    left: 20vw;
    z-index: -5;
  }

  .learning-section h4 {
    display: none;
  }

  .learning-section p {
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

/* PRE SCHOOL */

.preschool-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh 0;
  padding: 10vh 0;
}

.preschool-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  max-width: 1440px;
  margin: 80px;
}

.preschool-left-box {
  display: flex;
  max-height: 100%;
  max-width: 50%;
  height: 100%;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.preschool-right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  max-height: 70%;
  max-width: 100%;
}
.preschool-images {
  height: 500px;
  width: 383px;
  border: 1px solid var(--main-color_black);
}

.preschool-left-box p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */
  margin-bottom: 30px;
  letter-spacing: 0.02em;
}

.preschool-image-1,
.preschool-text-content-1 {
  display: flex;
}
.preschool-image-2,
.preschool-text-content-2 {
  display: none;
}
.preschool-image-3,
.preschool-text-content-3 {
  display: none;
}
.preschool-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.preschool-buttons {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  width: 100%;
  height: 300px;
}
.preschool-buttons .preschool-button-1 {
  background-color: var(--main-color_black);
  color: white;
}

.preschool-buttons button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid var(--main-color_black);
  margin-right: 2px;
  margin-left: 5px;
}

.preschool-buttons button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .preschool-section {
    display: flex;
    align-items: center;
    margin: 10vh 0;
    padding: 10vh 0;
  }

  .preschool-section h2 {
    font-size: 26px;
    margin-top: 10px;
  }

  .preschool-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 350px;
    max-width: 1440px;
    margin: 80px;
    border: 0.5px solid var(--main-color_black);
  }

  .preschool-left-box {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    height: 60%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .preschool-right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
  }
  .preschool-images {
    height: 100%;
    border: 1px solid var(--main-color_black);
  }

  .preschool-left-box p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 32px */
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    margin-left: 10px;
    margin-right: 10px;
  }

  .preschool-image-1,
  .preschool-text-content-1 {
    display: flex;
  }
  .preschool-image-2,
  .preschool-text-content-2 {
    display: none;
  }
  .preschool-image-3,
  .preschool-text-content-3 {
    display: none;
  }
  .preschool-images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .preschool-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }
  .preschool-buttons .preschool-button-1 {
    background-color: var(--main-color_black);
    color: white;
  }

  .preschool-buttons button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border: 0.5px solid var(--main-color_black);
    margin-right: 2px;
    margin-left: 5px;
    margin: 0;
    padding: 0;
  }

  .preschool-buttons button:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
