nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.logo {
  height: 50px;
  padding-left: 25px;
}

ul {
  width: 1440px;
  max-width: 100%;
  padding-right: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.list-item {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid black;
}

a:visited {
  text-decoration: none;
}

.active {
  font-weight: 600;
  border-bottom: 1px solid black;
}

.apply {
  margin-left: 20px;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
}

.apply-big {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
}

.apply:hover,
.apply-big:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid black;
}

.loading {
  transition: none;
}
